<div class="weather-details-container">
  <div class="header">
    <img src="assets/icons/details/place.svg" alt="Place" />
    {{ weatherData?.location?.city }}, {{ weatherData?.location?.country }}
  </div>
  <div class="suntime">
    <div class="suntime__item">
      <div class="suntime__item_title">Sunrise</div>
      <div class="suntime__item_block">
        <div>{{ weatherData?.currentWeather?.sunrise | time : true}}</div>
        <img src="assets/icons/details/sunrise.svg" alt="Sunrise" />
      </div>
    </div>
    <div class="suntime__item">
      <div class="suntime__item_title">Sunset</div>
      <div class="suntime__item_block">
        <div>{{ weatherData?.currentWeather?.sunset | time : true}}</div>
        <img src="assets/icons/details/sunset.svg" alt="Sunset" />
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="data">
    <div class="data__item">
      <div>Humidity</div>
      <div>38%</div>
    </div>
    <div class="data__item">
      <div>Chanse of rain</div>
      <div>2%</div>
    </div>
    <div class="data__item">
      <div>Air Quality</div>
      <div>3/10</div>
    </div>
    <div class="data__item">
      <div>Wind speed</div>
      <div>3.8 km/h</div>
    </div>
  </div>
</div>
