<div class="weater-info-container">
  <div class="header">
    <img src="assets/icons/weather/cloud-rain.svg" alt="rain" />
    <app-switch></app-switch>
  </div>
  <div class="actual-data">
    <div class="actual-data__temperature">
      {{
        weatherData?.currentWeather?.temperature
          | temperature: isCelsiumTemperature
      }}
      <sup>
        <sup class="degree">0</sup>
        <span *ngIf="isCelsiumTemperature">C</span>
        <span *ngIf="!isCelsiumTemperature">F</span>
      </sup>
    </div>
    <div class="actual-data__date">{{ weatherData?.location?.date }}</div>
    <div class="actual-data__date">
      {{ weatherData?.location?.day }}
      <span>{{ time | async | time }}</span>
    </div>
    <div class="actual-data__weather">
      <img src="assets/icons/actual-info/wind.svg" alt="Wind" />Wind
      <span>{{ weatherData?.currentWeather?.wind }} mi/h</span
      ><span>|</span>
      <img src="assets/icons/actual-info/hum.svg" alt="Hum" />Hum
      <span>{{ weatherData?.currentWeather?.hum }} %</span><span>|</span>
      <img src="assets/icons/actual-info/rain.svg" alt="Rain" />Precipitation
      <span>{{ weatherData?.currentWeather?.precipitation }} mm</span>
    </div>
  </div>
  <div class="next-days-data">
    <div class="days">
      <div class="days__day">
        <div class="days__day_data">
          <div>25<sup>o</sup>C</div>
          <img src="assets/icons/weather/cloud.svg" alt="Weater" />
        </div>
        <div class="days__day_day">Tue</div>
      </div>
      <div class="days__day">
        <div class="days__day_data">
          <div>26<sup>o</sup>C</div>
          <img src="assets/icons/weather/cloud.svg" alt="Weater" />
        </div>
        <div class="days__day_day">Wed</div>
      </div>
      <div class="days__day">
        <div class="days__day_data">
          <div>20<sup>o</sup>C</div>
          <img src="assets/icons/weather/cloud.svg" alt="Weater" />
        </div>
        <div class="days__day_day">Thu</div>
      </div>
      <div class="days__day">
        <div class="days__day_data">
          <div>24<sup>o</sup>C</div>
          <img src="assets/icons/weather/cloud.svg" alt="Weater" />
        </div>
        <div class="days__day_day">Fri</div>
      </div>
    </div>
    <img src="assets/icons/next-days/next.svg" alt="Next" />
  </div>
</div>
