<div class="weater-info-container">
  <div class="header">
    <img src="assets/icons/weather/cloud-rain.svg" alt="rain" />
    <app-switch></app-switch>
  </div>
  <div class="actual-data">
    <div class="actual-data__temperature">
      26<sup><sup class="celsius">0</sup>c</sup>
    </div>
    <div class="actual-data__date">14th Mar 22</div>
    <div class="actual-data__date">Monday <span>10:40 AM</span></div>
    <div class="actual-data__weather">
      <img src="assets/icons/actual-info/wind.svg" alt="Wind" />Wind
      <span>10 km/h</span><span>|</span>
      <img src="assets/icons/actual-info/hum.svg" alt="Hum" />Hum
      <span>54 %</span><span>|</span>
      <img src="assets/icons/actual-info/rain.svg" alt="Rain" />Rain
      <span>0.2 %</span>
    </div>
  </div>
  <div class="next-days-data">
    <div class="days">
      <div class="days__day">
        <div class="days__day_data">
          <div>25<sup>o</sup>C</div>
          <img src="assets/icons/weather/cloud.svg" alt="Weater" />
        </div>
        <div class="days__day_day">Tue</div>
      </div>
      <div class="days__day">
        <div class="days__day_data">
          <div>26<sup>o</sup>C</div>
          <img src="assets/icons/weather/cloud.svg" alt="Weater" />
        </div>
        <div class="days__day_day">Wed</div>
      </div>
      <div class="days__day">
        <div class="days__day_data">
          <div>20<sup>o</sup>C</div>
          <img src="assets/icons/weather/cloud.svg" alt="Weater" />
        </div>
        <div class="days__day_day">Thu</div>
      </div>
      <div class="days__day">
        <div class="days__day_data">
          <div>24<sup>o</sup>C</div>
          <img src="assets/icons/weather/cloud.svg" alt="Weater" />
        </div>
        <div class="days__day_day">Fri</div>
      </div>

    </div>
    <img src="assets/icons/next-days/next.svg" alt="Next" />

  </div>
</div>
